<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golden Shoe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/fontawesome/css/all.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <div class="container-fluid" style="position:relative; min-height: 100vh">
        <div class="row page-header">
            <div class="col-md-6 col-lg-6">
                <header class="clearfix" role="heading">
                    <a title="Home" class="goldenshoe" href="@Url.Action("Index","Home")">
                        <h2 style="padding-left:20px; padding-top:5px; float:left">Golden Shoe (Demo ver.)</h2>
                    </a>
                </header>
            </div>
            <div class="col-md-6 col-lg-6">
                <nav class="float-right" role="navigation">
                    <a title="Search for items" href=""><i class="fa fa-search"></i></a>
                    <a title="Home" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a>
                    <a title="Your Account" href=""><i class="fa fa-user"></i></a>
                    <a title="Your Liked Items" href=""><i class="fa fa-heart"></i></a>
                    <a title="Your Cart" href="@Url.Action("DisplayShoppingCartItems", "ShoppingCart")"><i class="fa fa-shopping-cart"></i><span class="badge badge-light" id="shoppingCartBadge" style="border-radius: 50%">TEST</span></a>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            @RenderBody()

            <div style="clear:both;"></div>
        </div>


        <div class="footer page-footer">
            <hr />

            <div class="row social-media justify-content-center">
                <a title="Golden Shoe Facebook page" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a title="Golden Shoe Snapchat account" href="https://www.snapchat.com/l/en-gb/" target="_blank"><i class="fab fa-snapchat-square"></i></a>
                <a title="Golden Shoe Instagram page" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a title="Golden Shoe Twitter page" href="https://twitter.com/home?lang=en-gb" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
            <div class="misc row">
                <div class="column col-md-4 col-lg-4">
                    <div class="col-header">
                        HELP & INFORMATION
                    </div>
                </div>
                <div class="column col-md-4 col-lg-4">
                    <div class="col-header">
                        ABOUT GOLDEN SHOE
                    </div>
                </div>
                <div class="column col-md-4 col-lg-4">MORE FROM GOLDEN SHOE</div>
            </div>
        </div>
    </div>
</body>
</html>
