@model GoldenShoe.ViewModels.HomeViewModel

@{ 
    var imageFilepath = "/images/";
}
<form asp-controller="Index" asp-action="Home" method="get" id="homepage" enctype="multipart/form-data">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="column col-md-4" align="center">
                @{ 
                    var source = imageFilepath + product.PhotoFilepath;
                }
                <img src=@source class="rounded product-image"/>

                <h1>@product.ShoeName</h1>
            </div>
        }
    </div>
</form>